* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}
/* Remove default spinner arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove in arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish);
}

input {
  display: inline-block;
}

h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.logo {
  margin-bottom: 60px;
}

.center-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background: var(--white);
  border-radius: 15px;
  padding: 30px;
  max-width: 800px;
  /* height: 410px; */
}

.container {
  display: flex;
  flex-direction: column;
}

.tip-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.result-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
  padding: 35px 20px;
  gap: 20px;
}

.tip-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  width: 100px;
  background: var(--very-dark-cyan);
  border: 0;
  border-radius: 5px;
  padding: 8px 0px;
  color: var(--white);
  font-size: 1.175rem;
  letter-spacing: 0.1rem;
}

.input-tip-custom {
  width: 100px;
  border: 0px;
  border-radius: 5px;
  background: var(--very-light-grayish-cyan);
  text-align: center;
  font-size: 1.2rem;
}

.input-tip-custom::placeholder {
  color: var(--dark-greyish-cyan);
  font-size: 1.2rem;
  text-align: center;
}

.bill-input:focus,
.num-of-ppl-input:focus,
.input-tip-custom:focus {
  outline: none !important;
  border: 2px solid var(--strong-cyan);
}

:hover .btn {
  cursor: pointer;
}

.text-content {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: var(--dark-greyish-cyan);
}

.num-of-ppl-input,
.bill-input {
  width: 90%;
  font-size: 1.2rem;
  text-align: right;
  height: 40px;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  background-color: var(--very-light-grayish-cyan);
}

#bill {
  background: var(--very-light-grayish-cyan) url(/images/icon-dollar.svg) left
    no-repeat;
  background-position: 15px center;
}

#people {
  background: var(--very-light-grayish-cyan) url(/images/icon-person.svg) left
    no-repeat;
  background-position: 15px center;
}

.total-value,
.tip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-text {
  font-size: 0.975rem;
  color: var(--white);
}

.person {
  display: block;
  font-size: 0.875rem;
  color: var(--dark-greyish-cyan);
}

.price {
  font-size: 2.5rem;
  color: var(--strong-cyan);
}

.reset-btn {
  padding: 8px 0px;
  margin-top: 90px;
  font-size: 1.275rem;
  color: var(--dark-greyish-cyan);
  border: 0;
  border-radius: 5px;
  background: var(--grayish-cyan);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .tip-section {
    width: 100%;
  }

  .result-section {
    width: 100%;
  }

  .num-of-ppl-input,
  .bill-input {
    width: 100%;
  }

  .btn,
  .input-tip-custom {
    width: 48%;
  }

  .reset-btn {
    margin-top: 0px;
  }

  .num-of-ppl-input {
    margin-bottom: 20px;
  }
}
