* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish);
}

input {
  display: inline-block;
}

h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.center-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background: var(--white);
  border-radius: 10px;
  padding: 30px;
  width: 850px;
  height: 400px;
}

.container {
  display: flex;
  flex-direction: column;
}

.tip-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.result-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tip-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  width: 110px;
  background: var(--very-dark-cyan);
  border: 0;
  border-radius: 5px;
  padding: 8px 0px;
  color: var(--white);
  font-size: 1.175rem;
  letter-spacing: 0.1rem;
}

.input-tip-custom {
  width: 110px;
  border: 0px;
  background: var(--very-light-grayish-cyan);
}

.input-tip-custom::placeholder {
  color: var(--dark-greyish-cyan);
  font-size: 1.2rem;
  text-align: center;
}

:hover .btn {
  cursor: pointer;
}
